<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="link.enshrine.projectname.servicename.dao.mapper.base.DemoMapper">
  <resultMap id="BaseResultMap" type="link.enshrine.projectname.servicename.dao.model.dto.Demo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from demo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="link.enshrine.projectname.servicename.dao.model.dto.Demo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demo (`name`, num, title
      )
    values (#{name,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="link.enshrine.projectname.servicename.dao.model.dto.Demo">
    update demo
    set `name` = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, `name`, num, title
    from demo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, num, title
    from demo
  </select>
</mapper>